body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 19px;
    box-shadow: 7px 5px 0 grey;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1.3px solid #333;
    box-sizing: border-box;
}

b {
    font-weight: lighter;
}

button {
    background-color: crimson;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px;
    border-radius: 12px;
    box-shadow: 3px 2px 0;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: lighter;
}

button:hover {
  background: #333;
}

.items {
    display: flex;
    justify-content: space-between;
}

.remember {
    font-size: 12px;
}

.container {
    flex-direction: row;
    width: 50%;
    margin: 0 auto;  
    padding: 50px;
}

.psw a {
    padding-top: 16px;
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-size: 12px;
}

.psw a:hover {
    color: crimson;
}

span{
    color: crimson;
}

.inscription{
    color: #000;
    text-align: center;
    padding-top: 10px;
    font-weight: lighter;
}

.inscription a{
    color: crimson;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}